{% extends 'index.html' %}


{% block mainhead %}
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center  header-transparent ">
        <div class="container d-flex align-items-center">

        <div class="logo mr-auto">
            <h1 class="text-light"><a href="#Home">BOIS</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav class="nav-menu d-none d-lg-block">
            <ul>
            <li class="active"><a href="{% url 'Index' %}">HOME</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            
            <!-- <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#pricing">Pricing</a></li>
            <li><a href="#team">Team</a></li> -->


            <li class="drop-down"><a href="">Key Features</a>
                <ul>
                <li><a href="#">Free VISA Evaluation</a></li>
                <li class="drop-down"><a href="#">Countries To Travel</a>
                    <ul>
                    <li><a href="#">Hong-Kong</a></li>
                    <li><a href="#">Australia</a></li>
                    <li><a href="#">Canada</a></li>
                    <li><a href="#">Germany</a></li>
                    <li><a href="#">Others</a></li>
                    </ul>
                </li>
                <li><a href="#">Drop Down 3</a></li>
                <li><a href="#">Drop Down 4</a></li>
                <li><a href="#">Drop Down 5</a></li>
                </ul>
            </li>
            <li><a href="#contact">Contact</a></li>

            </ul>
        </nav><!-- .nav-menu -->

        </div>
    </header><!-- End Header -->

{% endblock %}


{% block Slickhead %}


  <div class="hero-waves">
    <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave">
      <defs></defs>
      <path id="wave1" d="" />
    </svg>
    <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave">
      <defs></defs>
      <path id="wave2" d="" />
    </svg>
  </div>

{% endblock %}


{% block About %}
 <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2> Explore </h2>
          <p>Hong-Kong</p>
        </div>

        <div class="row content" data-aos="fade-up">
          <div class="col-lg-6">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
              <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
              <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
              culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <!-- <a href="#" class="btn-learn-more">Learn More</a> -->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
    
{% endblock %}

{% block CTA %}
{% endblock %}

{% block Portfolio %}
{% endblock %}

{% block team %}
{% endblock %}
